---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Pagina niet gevonden">
  <main class="container">
    <h1>Oeps! Sorry, we kunnen deze pagina niet meer vinden</h1>
    <p>We hebben ons best gedaan, maar het lijkt erop dat deze pagina niet (meer) bestaat of 
        misschien verhuisd is. Je kunt natuurlijk altijd naar de <a href="/">homepage</a>.</p>
  </main>
</BaseLayout>