---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Heading from "../components/Heading.astro";
import Layout from "../components/Layout.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import ButtonWrapper from "../components/ButtonWrapper.astro";
import Background from "../components/Background.astro";
import Card from "../components/Card.astro";
import Grid from "../components/Grid.astro";
import Image from "../components/Image.astro";

const pageTitle = "Korfbal.live";
const pageDescription =
  "Volg korfbalwedstrijden live, deel updates met supporters en krijg direct inzicht met wedstrijdstatistieken van Korfbal.live.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <Section
      id="overzicht"
      containerScope="section"
      paddingBlockStart="page-top"
      paddingBlockEnd="large"
    >
      <Layout variant="columns-7-5">
        <Fragment slot="content-primary">
          <Heading as="h1" variant="h1">
            Maak van elke wedstrijd een verhaal <em
              >en krijg inzicht dat je kunt delen</em
            >
          </Heading>
          <ButtonWrapper>
            <Button variant="primary" href="https://app.korfbal.live/registreren"> Start gratis! </Button>
            <Button variant="secondary" href="/features"> Meer over Korfbal.live </Button>
          </ButtonWrapper>
        </Fragment>
        <Fragment slot="content-secondary">
          <img
            src="/images/screenshot-1.png"
            alt="Korfbal.live"
            style="max-width: 28rem; margin-inline: auto; width: 100%;"
          />
        </Fragment>
      </Layout>
      <Background slot="background" />
    </Section>

    <Section
      id="liveverslag"
      containerScope="section"
      theme="dark"
      paddingBlockStart="main"
      paddingBlockEnd="large"
    >
      <Layout variant="columns" reversed>
        <Fragment slot="content-primary">
          <Heading as="h2" variant="h2">
            Volgen, beleven en verbinden in <em>één liveverslag</em>
          </Heading>
          <Text maxChars={46}
            ><p>
              Met het liveverslag van korfbal.live krijgt elke wedstrijd een
              eigen verhaal. Ouders, supporters, opa’s en oma’s kunnen de
              wedstrijd eenvoudig volgen via één openbare link, zonder dat ze in
              een aparte WhatsApp-groep hoeven te zitten. Dat maakt het volgen
              van een wedstrijd laagdrempelig, leuk en voor iedereen bereikbaar.
            </p></Text
          >
          <Button variant="secondary" href="/features#features-live-stream">
            Meer over de Live Stream
          </Button>
        </Fragment>
        <Fragment slot="content-secondary">
          <img
            src="/images/screenshot-2.png"
            alt="Korfbal.live"
            style="max-width: 28rem; margin-inline: auto; width: 100%;"
          />
        </Fragment>
      </Layout>
      <Background slot="background" color="secondary" location="bottom-left" />
    </Section>

    <Section id="statistieken" theme="light">
      <Layout variant="breakout">
        <Fragment slot="content-primary">
          <Heading as="h2" variant="h2">
            Statistieken die je <em>team beter maken</em>
          </Heading>
          <Text maxChars={46}
            ><p>
              Krijg inzicht in wat er écht gebeurt tijdens een wedstrijd. Ontdek
              waar kansen ontstaan en van welke posities doelpogingen worden
              genomen. Zo ontdek je als trainer of coach beter waar je team
              gevaarlijk is, waar kansen onbenut blijven en welke keuzes het
              meeste rendement opleveren.
            </p></Text
          >
          <Button variant="secondary" href="/features#features-live-dashboard">
            Meer over het Live Dashboard
          </Button>
        </Fragment>
        <Fragment slot="content-secondary">
          <img
            src="/images/screenshot-3.png"
            alt="Korfbal.live"
            style="margin-inline: auto; width: 100%;"
          />
        </Fragment>
      </Layout>
      
    </Section>
    <Section>
      <Layout>
        <Fragment slot="content-primary">
          <Grid columnsLarge={3} columnsMedium={1}>
            <Card>
              <Image src="/images/icons/report.svg" alt="" marginBottom="sm"/>
              <Heading as="h3" variant="h4" maxChars="8">Snel <em>evalueren</em></Heading>
              <Text marginBottom="none">
                <p>
                  Zie tijdens de wedstrijd direct wat werkt en wat beter kan.
                  Zo stuur je sneller bij en maak je keuzes met meer
                  vertrouwen.
                </p>
              </Text>
            </Card>
            <Card>
              <Image src="/images/icons/settings.svg" alt="" marginBottom="sm"/>
              <Heading as="h3" variant="h4" maxChars="8">Gericht <em>verbeteren</em></Heading>
              <Text marginBottom="none">
                <p>
                  Zet inzichten uit de wedstrijd om in concrete
                  trainingskeuzes. Zo train je doelgerichter en werk je aan
                  echte wedstrijdsituaties.
                </p>
              </Text>
            </Card>
            <Card>
              <Image src="/images/icons/like.svg" alt="" marginBottom="sm"/>
              <Heading as="h3" variant="h4" maxChars="8">Samen <em>groeien</em></Heading>
              <Text marginBottom="none">
                <p>
                  Bespreek na afloop samen de cijfers en de belangrijkste
                  momenten. Zo maak je inzicht onderdeel van samenwerking en
                  teamontwikkeling.
                </p>
              </Text>
            </Card>
          </Grid>
        </Fragment>
      </Layout>
    </Section>

</BaseLayout>
