---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Korfbal.live - Live wedstrijdregistratie en statistieken voor coaches, spelers en fans.</title>
	</head>
	<body>
		<div class="home-page-wrapper">
			<main class="home-container">
      <img src="/images/kl-logo-vertical.svg" alt="Logo Korfbal.live" class="home-logo" />
			<hgroup class="home-hero">
				<h1 class="visually-hidden">Korfbal.live</h1>
				<p>Live wedstrijdregistratie en statistieken voor coaches, spelers en fans.</p>
			</hgroup>
			<p class="home-beta-note">
				Korfbal.live is momenteel in besloten bèta. Geïnteresseerd of vragen?
				Neem contact op via <a href="mailto:info@korfbal.live">info@korfbal.live</a>
			</p>
			</main>
		</div>
	</body>
</html>
